<configuration>
  <system.web>
    <httpRuntime executionTimeout="1800" />
  </system.web>
  <system.webServer>

    <!-- indicates that the hello.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- use URL rewriting to redirect the entire branch of the URL namespace
    to hello.js node.js application; for example, the following URLs will 
    all be handled by hello.js:
    
        http://localhost/node/express/myapp/foo
        http://localhost/node/express/myapp/bar
        
    -->

    <rewrite>
      <rules>
        <rule name="myapp">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>


    <iisnode
          nodeProcessCommandLine="%programfiles%\nodejs\node.exe --max_old_space_size=8192"
          nodeProcessCountPerApplication="4"
          maxConcurrentRequestsPerProcess="1024"
          maxNamedPipeConnectionRetry="100"
          namedPipeConnectionRetryDelay="250"
          maxNamedPipeConnectionPoolSize="512"
          maxNamedPipePooledConnectionAge="30000"
          asyncCompletionThreadCount="0"
          initialRequestBufferSize="4096"
          maxRequestBufferSize="65536"
          watchedFiles="*.js;iisnode.yml"
          uncFileChangesPollingInterval="5000"
          gracefulShutdownTimeout="60000"
          loggingEnabled="true"
          logDirectory="iisnode"
          debuggingEnabled="true"
          debugHeaderEnabled="false"
          debuggerPortRange="5058-6058"
          debuggerPathSegment="debug"
          maxLogFileSizeInKB="128"
          maxTotalLogFileSizeInKB="1024"
          maxLogFiles="2000"
          devErrorsEnabled="true"
          flushResponse="false"
          enableXFF="false"
          promoteServerVars=""
          configOverrides="iisnode.yml"
     />


  </system.webServer>
</configuration>
